<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages>
      <controls>
        <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\ReorderList.mdf;Initial Catalog=ReorderList;Integrated Security=True;"/>
  </connectionStrings>
</configuration>